<h2>Register</h2>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Full Name</mat-label>
    <input matInput formControlName="fullName">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" type="email">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password">
  </mat-form-field>


  <button mat-raised-button color="primary" type="submit">Register</button>
</form>
